﻿
@{
    ViewBag.Title = "Contato";
}

<h2>Contato</h2>



<address>
    Curitiba<br />
    <br />
    <abbr title="Phone">P:</abbr>
    
    
    (41)9719-9535 - Diego
    <br />
    <abbr title="Phone">P:</abbr>
    (41)9906-5596 - Amália
    <br />
    <abbr title="Phone">P:</abbr>
    (41)9930-6352 - Natani
    <br />
    <abbr title="Phone">P:</abbr>
    (41)9529-1537 - Matheus
    <br />
</address>

<address>
    <strong>Suporte Web:</strong>   <a href="mailto:natani.fernanda.revil@gmail.com">Web</a><br />
    <strong>Suporte Mobile:</strong> <a href="mailto:schoolmanagerbrasil@gmail.com">Mobile</a>
</address>