﻿
@{
    ViewBag.Title = "Sobre";
}


<h2>@ViewBag.Title</h2>


<p>Vocês devem estar se perguntando oque é a school manager, bom iremos dizer logo abaixo oque somos e oque nos propomos fazer.</p>
<br />
<p>Nós somos uma startup criada por alunos da área de T.I com o intuito de criar um software que auxilie na interação pai-escola.</p>
<p>Nossa proposta é interligar de forma simples e online a escola e o pai sem a necessidade de utilizar um material impresso.Mas porque?</p>
<p>No mundo contemporâneo atual as pessoas possuem menos tempo, oque torna cada minuto importante e com isso ir até a escola se torna cada vez mais dificil.</p>
<p>Por essa razão nós fomos criados, para que o pai possa saber como anda o desempenho de seu filho atráves de seu próprio smartphone sem a necessidade de comparecer na escola.</p>
<p>Isso é school manager, isso é a tecnologia auxiliando na educação.</p>
<p>Sejam muito bem vindos ao futuro, sejam bem vindos a school manager!</p>

